// Colors
//
$gray-100: #212121 !default;
$gray-75: #4a4544 !default;
$gray-50: #777777 !default;
$gray-25: #b7b7b7 !default;
$gray-0: #edecec !default;

$black: #111 !default;
$white: #fff !default;

$blue-50: #009ee0;
$orange-50: #fbad2b;

// Brand colors
$color-brand-primary: $blue-50 !default;

$notice-colors: (
  success: #3c763d,
  info: #2e82ad,
  warning: #9b7035,
  danger: #bd292c
);

// Background color
$color-background: #fff !default;
// Text color
$color-text: $gray-100 !default;

// Link color
$color-link: $color-text !default;
$color-link-hover: lighten($color-link, 15%) !default;
$color-link-visited: lighten($color-link, 5%) !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans: 'Oswald', sans-serif !default;
$font-family-serif: 'Quattrocento', Georgia, Times, serif !default;
$font-family-serif-alt: 'Alegreya', Georgia, Times, serif !default;
$font-family-icons: 'FontAwesome' !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;

$font-size-root: 16px !default;
$font-size-xxl: 36px !default;
$font-size-xlr: 28px !default;
$font-size-lrg: 22px !default;
$font-size-med: 18px !default;
$font-size-sml: 14px !default;
$font-size-xsm: 12px !default;

$font-size-h1: 40px !default;
$font-size-h2: 28px !default;
$font-size-h3: 18px !default;
$font-size-h4: $font-size-med !default;
$font-size-h5: 14px !default;

$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-base: $font-weight-regular !default;

$line-height-base: 28px !default; // 20/14

$line-height-sml: 1.2 !default;

// Fonts
//
$fonts-path: '../fonts' !default;
$fonts-icon-class: icon;

//** By default, this inherits from the `<body>`.
$headings-font-family: $font-family-sans !default;
$headings-font-weight: $font-weight-regular !default;
$headings-line-height: $line-height-sml !default;
$headings-color: inherit !default;
$headings-color-alt: $color-brand-primary !default;

// Layers
// ------
//
// For the z-index
$zindex-layer-1: 10;
$zindex-layer-2: 20;
$zindex-layer-3: 30;
$zindex-layer-4: 40;
$zindex-layer-5: 2050;

// Breakpoints
// -----------
$breakpoints: (
  xxs: 320px,
  xsm: 440px,
  sml: 660px,
  med: 820px,
  lrg: 940px,
  xlr: 1200px
);

// Grid
// ----
//
// columns          - The total amount of columns
// gutter           - The amount of space between two columns
// container-*      - The total width of the container for large / medium / small
$grid-gutter-width: 20px !default;
$grid-columns: 12 !default;
$grid-container-width: 1200px !default;


// Rhythm
$rh-xxs: $line-height-base * .25;
$rh-xsm: $line-height-base * .5;
$rh-sml: $line-height-base;
$rh-med: $line-height-base * 1.5;
$rh-lrg: $line-height-base * 2;
$rh-xlr: $line-height-base * 2.5;

$rhythm: (
  xxs: $line-height-base * .25,
  xsm: $line-height-base * .5,
  sml: $line-height-base,
  med: $line-height-base * 1.5,
  lrg: $line-height-base * 2,
  xlr: $line-height-base * 2.5
);

// Transitions
// -----------
//
$transition-duration-base: 150ms;
$transition-easing-base: ease-in-out;

// Border radius
// -------------
//
$border-radius-med: 3px;
$border-radius-small: 2px;
$border-radius-large: 5px;
