.buildpath
.project
.settings
.idea
application/config/dev
application/data/cache
application/data/log
application/data/cms
application/data/session
application/data/upload
application/*php
public/cache
public/upload
public/.htaccess
public/index.php
vendor
composer.phar
