%status-block {
  @extend .block--panel
}
.block {
  display: block;
  & + & {
    margin-top: $rh-sml;
  }

  &--panel,
  &--indented {
    padding: $rh-sml;
    @include breakpoint(map-get($breakpoints, lrg)){
      padding: $rh-med;
    };
  }
  &--panel {
    background: $white;
  }
  &--indented {
    padding: 0;
    @include breakpoint(map-get($breakpoints, med)){
      padding: $rh-med;
    };
  }

  &--bg {
    padding: $rh-sml;
    background: $gray-0;
  }

  &--step {
    position: relative;
    background: lighten($gray-0, 5%);
    &:after {
      content: '';
      position: absolute;
      right: 5%;
      top: 0;
      display: block;
      width: 0;
      border: 40px solid transparent;
    }
    .heading {
      color: $color-text;
    }
    & + & {
      margin-top: 0;
    }
    &:nth-child(2) {
      background: $gray-0;
      &:after {
        border-top-color: lighten($gray-0, 5%);
      }
    }
    &:nth-child(3) {
      background: darken($gray-0, 5%);
      &:after {
        border-top-color: $gray-0;
      }
    }
  }

  // Status messages
  &--success {
    @extend %status-block;
    background-color: lighten(map-get($notice-colors, 'success'), 52%);
    border-color: map-get($notice-colors, 'success');
    color: lighten(map-get($notice-colors, 'success'), 25%);
  }
  &--error {
    @extend %status-block;
    background-color: lighten(map-get($notice-colors, 'danger'), 52%);
    border-color: map-get($notice-colors, 'danger');
    color: lighten(map-get($notice-colors, 'danger'), 25%);
  }

  &--newsletter,
  &--contact,
  &--registration {
    .form {
      margin-bottom: 0;
      @include breakpoint(map-get($breakpoints, med)) {
        margin-top: $rh-sml;
      }
    }
  }
  &--newsletter {
    .grid--bp-med__8 & {
      .grid__item {
        @extend .grid--bp-med__8;
      }
    }
    .grid--bp-med__6 & {
      .grid__item {
        @extend .grid--bp-med__10;
      }
    }
  }
  &--contact,
  &--registration {
    .grid--bp-med__8 & {
      @extend .grid--bp-med__8;
    }
  }
}


.block__header {
  margin-bottom: $rh-xsm;
  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.block__img {
  text-align: center;
}
