.excerpt {
  @include cf;
  display: block;
  color: inherit;
  text-decoration: none;

  &--border {
    border-bottom: 1px solid $gray-25;
    padding-bottom: $rh-sml;
  }

  &__header {
    margin-bottom: $rh-xsm;
    h1, h2, h3, h4 {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__footer {
    margin-top: $rh-med;
  }
  &__img {
    overflow: hidden;
    background: $gray-0;
    text-align: center;
    img {
      @include transitions(transform);
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &__link {
    @include transitions(color);
    display: inline-block;
    color: $color-link;
    text-decoration: underline;
  }
  & + & {
    margin-top: $rh-sml;
  }
}

.excerpt__aside {
  .excerpt__img {
    text-align: center;
    // img {
    //   width: auto;
    // }
  }
  @include breakpoint(map-get($breakpoints, sml)){
    float: left;
    width: 140px;
    margin-right: 20px;
  };
  @include breakpoint(map-get($breakpoints, sml), 'max-width'){
    margin-bottom: $rh-med;
  };
  @include breakpoint(map-get($breakpoints, lrg)){
    ~ .excerpt__main {
      margin-left: 160px;
    }
  };
  .excerpt--hz-large & {
    @include breakpoint(map-get($breakpoints, sml)){
      width: 140px;
      margin-right: 20px;
    };
    @include breakpoint(map-get($breakpoints, sml)){
      width: 210px;
    };
    @include breakpoint(map-get($breakpoints, lrg)){
      width: 280px;
      ~ .excerpt__main {
        margin-left: 300px;
      }
    };
  }
}

a.excerpt {
  &:visited {
    color: inherit;
  }
  &:hover,
  &:focus {
    color: inherit;
    h1, h2, h3, h4 {
      // color: tomato;
      text-decoration: underline;
    }
    .excerpt__img {
      img {
        transform: scale(1.1);
      }
    }
    .excerpt__link {
      color: $color-link;
    }
  }
}

tr.excerpt {
  display: table-row;
}

.excerpt__closed {
  color: $gray-50;
  font-style: italic;
}
.excerpt__more {
  margin-top: $rh-sml;
}


// News
.excerpt--news {
  background: $gray-0;
  .excerpt__aside {
    @include breakpoint(map-get($breakpoints, xsm)){
      float: left;
      width: 100px;
      margin-right: 0;
      ~ .excerpt__main {
        margin-left: 100px;
        min-height: 100px;
      }
    };
    @include breakpoint(map-get($breakpoints, xsm), 'max-width'){
      margin-bottom: $rh-med;
    };
    @include breakpoint(map-get($breakpoints, med)){
      width: 180px;
      ~ .excerpt__main {
        margin-left: 180px;
        min-height: 180px;
      }
    };
  }
  .excerpt__main {
    background: $white;
    padding: $rh-sml;
  }
}

