%ext-default-nav {
  line-height: 1;
  ul {
    @include listreset;
    @include cf;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  &--service {
    @extend %ext-default-nav;
    float: right;
    margin-top: $rh-med;
    li + li {
      margin-left: $rh-med;
    }
    a {
      text-decoration: underline;
      &:hover,
      &.active {
        text-decoration: none;
        color: $gray-50;
      }
    }
  } // end .-service

  &--main {
    @extend %ext-default-nav;
    float: left;
    clear: both;
    @include fsRem($font-size-xxl);
    font-family: $font-family-serif;
    font-style: italic;
    text-transform: lowercase;
    position: relative;
    li + li {
      margin-left: ($rh-xsm - 4px);
    }
    ul {
      ul {
        position: absolute;
        width: 100%;
        @include fsRem($font-size-lrg);
        text-transform: none;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          border-bottom: 1px solid $gray-0;
        }
        li {
          margin: 0 $rh-sml;
        }
        a {
          padding: $rh-xsm 0;
        }
      }
    }
    a {
      @include link-variant($color-text);
      display: block;
      padding: $rh-sml $rh-xsm;
      @include background-sliding($white, transparent, up);
      &:hover,
      &.active {
        color: $gray-50;
        background-position: 0 0;
      }
      &.nav__link--novecento3 {
        &:hover,
        &.active {
          color: $blue-50;
        }
      }
      &.nav__link--transit3 {
        &:hover,
        &.active {
          color: $orange-50;
        }
      }
      @include breakpoint(map-get($breakpoints, lrg)) {
        padding: $rh-sml $rh-med;
      }
    }

    .nav__link--novecento3 + ul {
      a:hover,
      a.active {
        border-bottom: 3px solid $blue-50;
        color: $blue-50;
      }
    }
    .nav__link--transit3 + ul {
      a:hover,
      a.active {
        border-bottom: 3px solid $orange-50;
        color: $orange-50;
      }
    }
  } // end .-main

  &--language {
    float: right;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-top: 20px;
    li {
      float: none;
      margin-bottom: 5px;
    }
    a {
      color: black;
      background: gray;
      display: block;
      padding: 10px;
      &:hover,
      &:focus,
      &.active {
        color: pink;
      }
    }
  } // end .-language

  &--list {
    line-height: lh($line-height-base);
    li {
      float: none;
    }
  } // end .-list
}

.nav--flyout {
  @include transitions((transform));
  width: 240px;
  transform: translateX(-240px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: $gray-25;
  display: none;
  .flyout-enabled & {
    display: block;
  }
  .flyout-active & {
    transform: translateX(0);
  }
  ul {
    @include transitions((transform));
    @include listreset;
    width: 100%;
    background: $gray-25;
    padding-top: 50px;
    ul {
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translateX(240px);
    }
  }
  .active {
    > ul {
      transform: translateX(0);
    }
  }
  a:not(:only-child) {
    &:after {
      content: '\34';
      float: right;
      font-family: $font-family-icons;
    }
  }

  .flyout__close {
    display: block;
    text-align: right;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1001;
  }
}
